*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
head,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
   padding: 15px 20px 0px 10px;
}
#nav h3{
    font-size: 20px;
    background-color: #111;
    color: #fff;
   border-radius: 50px;
   padding: 15px 25px;
   margin-right: 5px;
}
#intro{
    height: 45%;
    width: 100%;
    padding: 40px 60px 30px 60px;
}
#intro h1{
    font-size: 140px;
    letter-spacing: -5px;
    line-height: 133px;
    font-weight: 600;
    color: #222;
}
.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
       color: #222;
}
.place h3{
    font-size: 30px;
    font-weight: 600;
}
.place h4{
        font-size: 30px;
    font-weight: 600;
}
.place h4 i{
    font-size: 35px;
  margin-right: 10px;    
}
#hero-img{
    height: 100vh;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp);
   background-size: cover;
}
#about{
    height: 72vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
#about h2{
    line-height: 70px;
    /* letter-spacing: px; */
    width: 50%;
    font-size: 70px;
    color: #222;
}
#about-part2{
    width: 40%;
    border-left: 2px solid #222;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 30px;
    font-weight: 600;
    color: #222;
}
#icons i{
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 12px;
}
#work{
    margin-top: 40px;
    border-top: 2px solid #222;
    width: 100%;
    height:70vh;
    display: flex;
       padding: 50px 60px;
}
#work1{
    width: 40%;
    height: 100%;
    border-right: 2px solid #222;
    display: flex;
   justify-content: space-between;
   padding-right: 55px;
}
#work1 h3{
    font-size: 30px;
    font-weight: 600;
      color: #222;
}
#work1 i{
    font-size: 35px;
      color: #222;
    font-weight: 300;
}
#work2{
    height: 100%;
    padding:0 20px;
  width: 60%;
}
.work2-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid #111;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid #111;
    padding-right: 20px;
}
.work2-part .elem:nth-child(2){
    padding-left: 20px;
}
.work2-part .elem h4{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
      color: #222;
}
.work2-part .elem p{
    font-size: 18px;
    font-weight: 500;
    color: #877;
}
